NODE_ENV=development
PORT=3000

# Supabase/Postgres connection string.
DATABASE_URL="postgresql://postgres:password@db.example.supabase.co:5432/postgres?schema=public"
DATABASE_SSL=true

# Hosted Redis connection string.
REDIS_URL="redis://default:password@redis.example.com:6379"
